<div>
  <%= render "posts/form", user: @user %>

  <% @followees.flat_map(&:posts).sort_by(&:created_at).reverse.each do |post| %>
    <div class="flex flex-col border-b border-slate-950 px-4 py-2">
      <div class="flex justify-between">
        <div>
          <strong><%= link_to "#{post.user.username}", show_user_path(post.user) %></strong> . <%= post.created_at.to_fs(:long) %>
        </div>
      </div>
      <div>
        <p><%= post.body %></p>
      </div>
      <div class="flex space-x-20">
        <% if current_user.liked_posts.include?(post) %>
          <%= link_to unlike_user_post_path(post.user, post), data: {turbo_method: :delete} do %>
            <%= icon('fa-solid', 'heart') %>
          <% end %>
        <% else %>
          <%= link_to like_user_post_path(post.user, post), data: {turbo_method: :post} do %>
            <%= icon('fa-regular', 'heart') %>
          <% end %>
        <% end %>
        <%= link_to do %>
          <%= icon('fa-regular', 'comment') %>
        <% end %>
        <%= link_to do %>
          <%= icon('fa-solid', 'retweet') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
