<div>
  <div class="flex flex-col border-b border-slate-950 px-4 py-2">
    <div class="flex justify-between">
      <h1 class="text-3xl font-bold"><%= @user.username %></h1>
      <% if not @is_current %>
        <% if @user.followers.include?(current_user) %>
          <%= link_to "Unfollow", unfollow_user_path(followee_id: @user.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to unfollow?"}, class: "bg-sky-700 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
          <%= link_to "Follow", follow_user_path(followee_id: @user.id), class: "bg-sky-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      <% end %>
    </div>

    <div class="flex">
      <h2 class="pr-10">Followers: <%= @followers.count %></h2>
      <h2>Following: <%= @followees.count %></h2>
    </div>
  </div>

  <% @posts.reverse.each do |post| %>
    <div class="flex flex-col border-b border-slate-950 px-4 py-2">
      <div class="flex justify-between">
        <div>
          <strong><%= @user.username %></strong> . <%= post.created_at.to_fs(:long) %>
        </div>
        <div class="rounded-full hover:bg-slate-950 hover:text-white">
          <% if @is_current %>
            <%= link_to [post.user, post], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <%= icon('fa-solid', 'trash', class: "px-2") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <p><%= post.body %></p>
      </div>
      <div class="flex space-x-20">
        <% if current_user.liked_posts.include?(post) %>
          <%= link_to unlike_user_post_path(post.user, post), data: {turbo_method: :delete} do %>
            <%= icon('fa-solid', 'heart') %>
          <% end %>
        <% else %>
          <%= link_to like_user_post_path(post.user, post), data: {turbo_method: :post} do %>
            <%= icon('fa-regular', 'heart') %>
          <% end %>
        <% end %>
        <%= link_to do %>
          <%= icon('fa-regular', 'comment') %>
        <% end %>
        <%= link_to do %>
          <%= icon('fa-solid', 'retweet') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
