<div class="w-64 sticky top-0 h-screen overflow-y-auto border-r bg-slate-950">
  <nav class="mt-5">
    <%= link_to root_path, class: "block text-white text-2xl font-bold hover:bg-sky-900" do %>
      <%= icon('fa-solid', 'home', class: "mr-2 py-2 px-4") %>Home
    <% end %>
      <%= link_to root_path, class: "block text-white text-2xl font-bold hover:bg-sky-900" do %>
      <%= icon('fa-solid', 'magnifying-glass', class: "mr-2 py-2 px-4") %>Explore
    <% end %>
    <%= link_to root_path, class: "block text-white text-2xl font-bold hover:bg-sky-900" do %>
      <%= icon('fa-solid', 'circle-user', class: "mr-2 py-2 px-4") %>Profile
    <% end %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "block text-white text-2xl font-bold hover:bg-sky-900" do %>
      <%= icon('fa-solid', 'power-off', class: "mr-2 py-2 px-4") %>Sign Out
    <% end %>
  </nav>
</div>
